<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  
    <connectionStrings>
      <add name="connect" connectionString="Data Source=.;Initial Catalog=blogPost;Integrated Security=False;Connection Timeout=60; User ID=sa;Password=12345678" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-InventoryManagement-20201116120354.mdf;Initial Catalog=aspnet-InventoryManagement-20201116120354;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
</configuration>
